body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #222;
    color: aliceblue;
}

.form-control-idle-time {
    width: 72px;
    text-align: right;
}

.wizard-soperpower-9 {
    display: grid;
    grid-template-rows: 12% 88%;
    height: 44.00vh;
}

.graph-row-1 {
    grid-row: 1;
    display: grid;
    grid-template-columns: 17.5% 17.5 12% 12% 12% 12% 12%;
}

.graph-row-2 {
    grid-row: 2;
    display: grid;
    grid-template-columns: 48% 52%; /*\*/
    grid-template-rows: 100%;
}

.graph-col-0 {
    grid-column: 1;
}

.graph-col-1 {
    grid-column: 2;
}

.graph-col-2 {
    grid-column: 3;
}

.graph-col-3 {
    grid-column: 4;
}

.graph-col-4 {
    grid-column: 5;
}

.graph-col-5 {
    grid-column: 6;
}

.graph-col-6 {
    grid-column: 7;
}

.control_disabled {
    pointer-events: none;
    opacity: 0.2; 
    cursor: not-allowed; /* cerca */
}

.body-display {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.wizard-soperpower-7 {
    padding: 10px;
    border: 2px solid #a0a;
    border-radius: 16px;
}

.graph-row-col-1 {
    border: 2px solid gray;
    border-radius: 5.1px;
    margin: 1%;
}

.graph-row-col-2 {
    border: 2px solid gray;
    border-radius: 5.3px;
    margin: 1%;
}

.canva-chart {
    width: 100%;
}

.nc-container {
    display: grid;
    grid-template-rows: 8% 92%;
    width: 100%;
    height: 100%;
}

.nc-toolbar {
    grid-row: 1;
    display: flex;
    flex-direction: row;
}

.nc-toolbar-control {
    margin: 2px;
}

.mc-container {
    grid-row: 2;
}

.mc-editing {
    border: 2px solid green;
}

.mc-bash {
    border: 2px solid white;
}

.python-code {
    background-color: #1e1e1e;
    color: #dcdcdc;
    font-family: "Courier New", monospace;
    padding: 15px;
    border-radius: 8px;
    white-space: pre; /* respeta saltos de línea */
    overflow-x: auto;
}