body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #222;
}

.chart-main-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    color: #fff;
}

.chart-info{
    
}